.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #00ffb3;
    background: linear-gradient(90deg, rgba(10, 10, 10, 0.586), rgba(136, 136, 136, 0.533));

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;  
}

.navbar a {
    text-decoration: none;
    color: white; /* Fehér szöveg */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover{
    background-color: #696b6ca5; 
    color: black;
    text-decoration: none;
}

.navbar a.active {
    background-color: #684a1e91; /* Aktív link színe */
    color: black; /* Fekete szöveg */
}

.navbar .brand {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}
