<nav class="navbar">
    <a href="http://localhost:5173/fooldal">Főoldal</a>
    <a href="/doctors">Orvosok</a>
    <!-- <a href="/patient">Páciensek</a> -->
    <a href="/idopont">Időpontok</a>
    <a href="/patient">Páciensek</a>
</nav>
<br>
<br>