<nav>
    <li><a href="http://localhost:5173/fooldal">Főoldal</a></li>
    <li><a href="/doctors">Orvosok</a></li>
    <li><a href="/patient">Páciensek</a></li>
    <li><a href="/appointment">Időpont</a></li>
    <li><a href="/users">Felhasználok</a></li>
</nav>