/* Alap konténer */
.main-doc-container {
    padding: 20px;
    /* background-color: #f3f6f9; */
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

/* Fejléc */
.doctors-section h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #0046ad;
}

/* Kártyák tároló */
.doctor-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 32% 32% 32%;
    gap: 30px;
    padding: 0 10px;
}

/* Orvos kártyák */
.doctor-card {
    /* background-color: #ffffff; */
    background: linear-gradient(90deg, rgba(110, 57, 12, 0.586), rgba(57, 57, 57, 0.686));
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Orvos adatok */
.doctor-card h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.doctor-card h5 {
    font-size: 1.2rem;
    color: #555;
    font-weight: 500;
    margin-bottom: 10px;
}

.doctor-card p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
}

/* Gombok */
.doctor-card button {
    background-color: #0046ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.doctor-card button:hover {
    background-color: #003580;
}

.doctor-card form button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.doctor-card form button:hover {
    background-color: #c9302c;
}


@media screen and (max-width: 964px) {
    .doctor-list{
        grid-template-columns: 47% 47%;
        /* gap: 10px; */
    }
}

@media screen and (max-width: 720px) {
    .doctor-list{
        grid-template-columns: 100%;
        /* gap: 10px; */
    }
}