nav {
    background-color: blue;
    list-style-type: none;
}
nav li{
    display: inline;
}
nav li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

img {
    width: 350px;
    /* nem lesz használva SZERINTEM */
}