/* Hero szekció */
.hero-section {
    background: linear-gradient(90deg, rgba(110, 57, 12, 0.586), rgba(57, 57, 57, 0.533));
    color: white;
    padding: 100px 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Szolgáltatások szekció */
.services-section {
    padding: 20px;
    background-image: url('../Home/bg/bgi.jpg');
    text-align: center;
}

.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    margin-bottom: 20px;
    border-radius: 50%;
}

.service-card h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #005bea;
}

.service-card p {
    font-size: 1rem;
    color: #666;
}

/* Call-to-Action */
.cta-section {
    background: linear-gradient(90deg, rgba(110, 57, 12, 0.586), rgba(57, 57, 57, 0.533));
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}

.cta-section h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-link {
    display: inline-block;
    padding: 10px 30px;
    background: #00c6fb;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s;
}

.cta-link:hover {
    background: #007BFF;
}
